*{
    /* border: 1px solid grey; */
}
html, body{
    /* background:linear-gradient(45deg, rgba(185, 218, 173, 0.8), rgba(129, 168, 218, 0.2)); */
    background-color: black;
    margin: 0px;
}

.card{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card .title{
    font-size: large;
    margin-bottom: 30px;
}

 #slider_bird{
    position: absolute;
    right: 10px;
    bottom: 10px
    /* background-color: #ccc */
}

#timer{
    position: absolute;
    color: white;
    right: 10px;
    bottom: 30px;
}


#myCanvas{
    /* box-shadow: 3px 3px 7px 2px rgba(87, 92, 85, 0.8); */
    /* border-radius: 20px; */
}